## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## MSBuild
*.metaproj
*.metaproj.tmp

## Visual Studio Code
.vscode/

## Rider
.idea/

## User-specific files
*.user
*.rsuser
*.suo
*.cache
*.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Pp]ackages/*.lock.json

## Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*_h.h
*.ilk
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.TestAdapter.dll
*.trx

## OS files
.DS_Store
Thumbs.db

## SQLite databases
*.db
*.db-shm
*.db-wal

## Secrets
appsettings.*.local.json
